# Dependencies
node_modules/
.venv/
__pycache__/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
*.pyc

# Uploads
uploads/excel/*
uploads/materials/*
!uploads/excel/.gitkeep
!uploads/materials/.gitkeep
